//
//  QC.xcconfig
//  DemoCICD
//
//  Created by HuntDo on 14/06/2021.
//  Copyright © 2021 Tran Thien Hao. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
BUNDLE_ID = com.visa.collabsg.highjumpqc
APP_ICON = AppIconSTAG
APP_NAME = CICD STG
APP_VERSION = 0.2
